body {
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    background-color: #FFFAFB;
  }

  * {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;

  }

  ::-webkit-scrollbar {
    width: 0px;
  }

  .right-arrow,
  .left-arrow {
    cursor: pointer;
    background: transparent;
    outline: none;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #2c2c4c;
    font-size: 25px;
    border-radius: 4px;
    position: absolute;
    bottom: -20px;
    right: 80px;
    transform: scale(1, 1);
    transition: 0.3s all ease-in-out;
  }

  .right-arrow {
    right: 140px;
  }

  .right-arrow:hover,
  .left-arrow:hover {
    transform: scale(1.3, 1.3);
  }

  .react-horizontal-scrolling-menu--wrapper {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }

  .detail-image {
    max-width: 729px;
    max-height: 742px;
    border-radius: 10px;
    box-shadow: 10px 10px 5px #2c2c4c;
  }

  .hero-banner-img {
    position: absolute;
    right: 40px;
    top: 0px;
    width: 700px;
    border-radius: 10px;
    box-shadow: #343a40 5px 5px;
    /* height: 900px; */
    /* margin-top: -330px; */

  }

  .exercise-card {
    width: 300px;
    height: 345px;
    background: #fff;
    border-top: 4px solid #2c2c4c;
    border-bottom-left-radius: 20px;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding-bottom: 10px;
    transform: scale(1, 1);
    transition: 0.3s all ease-in-out;
  }

  .exercise-card img {
    height: 326px;
  }

  .bodyPart-card {
    transform: scale(1, 1);
    transition: 0.3s all ease-in-out;
  }

  .exercise-card:hover,
  .bodyPart-card:hover {
    transform: scale(1.1, 1.1);
  }

  .search-btn:hover {
    color: #2c2c4c !important;
    border: 1px solid #2c2c4c !important;
  }

  .exercise-video {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 330px;
    height: 337px;
    text-decoration: none;
  }

  @media screen and (max-width:1200px) {
    .detail-image {
      width: 300px;
      height: 300px;
    }


    .react-horizontal-scrolling-menu--scroll-container {
      width: 500px;
    }

    .left-arrow,
    .right-arrow {
      position: static !important;
    }

    .hero-banner-img {
      display: none;
    }

    .exercise-card {
      width: 320px;
    }

    .exercise-video {
      width: 320px;
      height: 300px;
    }

  }

  @media screen and (max-width:400px) {
    .exercise-card {
      width: 280px;
    }
  }